* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #dedede;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.home {
  height: 100vh;
  position: relative;
}

.outer {
  height: 50%;
  width: 100%;
  padding: 20px 0;
  position: relative;
  /* background-color: red; */
}
.titleWrap {
  position: relative;
  height: 90px;
  border: 1px solid wheat;
  width: auto;
  background-image: url(img/overlayTest3.png);
  background-size: cover;
  background-position: 20% 50%;
}

.titleWrap h1 {
  position: relative;
  z-index: 2;
  font-family: "cinzel";
  font-size: 2.4rem;
  text-shadow: -3px 3px 6px rgba(164, 22, 26, 1);
}

.home .title {
  position: relative;
  margin: 40px 0 0 20px;
}

.home .title::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent 10%);
}

.home .title img {
  position: relative;
  height: 100px;
  width: auto;
  /* filter: drop-shadow(-6px 2px 6px rgba(164, 22, 26, 0.66)); */
}
@media only screen and (min-width: 768px) {
  /* div {
    min-height: 100px !important;
  } */
}
